@import url('https://fonts.googleapis.com/css?family=Numans');
html,
body {
  /* background-image: url('../images/backgroundimage5.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Rubik', sans-serif;
  background-color: whitesmoke;
}

.site-header {
  background-color: rgba(19, 37, 53, .9);
}

.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}

.container.sns {
  height: 100%;
  align-content: center;
}

.card {
  height: 600px;
  margin-top: auto;
  margin-bottom: auto;
  width: 550px;
  box-shadow: 0.5rem 0.5rem 2rem rgba(19, 37, 53, 0.9);
  background-color: rgb(19, 37, 53) !important;
}

.card-header h3 {
  color: white;
}

.fa-search {
  /* background-color: lightgray;
  color: black; */
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.submit_btn {
  color: black;
  background-color: lightgray;
  width: 500px;
}

.submit_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}

.checkbox {
  font-size: 15px;
}

.privacy {
  color: white;
  font-size: 12px;
}

label.spam_sms {
  color: white;
  font-size: 12px;
}

label.spam_email {
  color: white;
  font-size: 12px;
}

.postcode {
  width: 10px;
}