<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<!-- connection info는 root-context에서 설정됨. 여기서는 type alias 등 설정 -->
<configuration>
  <settings>
    <setting name="jdbcTypeForNull" value="NULL"/>
  </settings>
  <typeAliases>
    <typeAlias type="com.parking.member.model.vo.Member" alias="member" />
    <typeAlias type="com.parking.bookmark.model.vo.Bookmark" alias="bookmark" />
    <typeAlias type="com.parking.api.model.vo.ParkingSeoul" alias="parkingSeoul" />
    
    <!-- <typeAlias type="com.parking.common.ArrayTypeHandler" alias="arrType" /> -->
  </typeAliases>
  
  
</configuration>
