<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
  <select id="selectUserCode" resultType="map" >
    select * from member where userCode=#{userCode}
  </select>
  <select id="selectMemberEmail" resultType="member" >
    select * from member where userEmail=#{userEmail}
  </select>
  <select id="selectEmail" resultType="map">
    select * from member where userEmail= #{userEmail}
  </select>
  <select id="selectEmailPw" resultType="map">
    select * from member where userEmail= #{userEmail} and userPw=#{userPw}
  </select>

  <!-- resultType="_int" -->
  <insert id="insertMember" parameterType="member">
    insert into member values(#{userCode}, #{userEmail}, #{userPw}, #{userPhone},
        #{userName}, #{userAddr}, SYSDATE, #{userLoginDate}, #{userSmsYn},
        #{userEmailYn}, #{userEmailVerified}, #{userSnsAccount}, #{userOriginalFilename},
        #{userRenamedFilename})
  </insert>
  <delete id="deleteMember" >
    delete from member where userCode=#{userCode}
  </delete>
  <update id="updateLoginDate">
    update member set userlogindate=SYSDATE where userCode=#{userCode}
  </update>
  <update id="updateMember">
    update member set userPhone=#{userPhone}, userName=#{userName},
                  userAddr=#{userAddr}, userSmsYn=#{userSmsYn}, userEmailYn=#{userEmailYn},
                  userOriginalFilename=#{userOriginalFilename}, userRenamedFilename=#{userRenamedFilename}
                  where userCode=#{userCode}
   </update>

  <update id="activateMember">
    update member set userEmailverified=1 where userEmail=#{userEmail}
   </update>

  <update id="changepassword">
    update member set userPw=#{userPw} where userEmail=#{userEmail}
   </update>

</mapper>
